@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/bold/roboto-bold-webfont.eot");
  src: url("../fonts/roboto/bold/roboto-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/bold/roboto-bold-webfont.woff2") format("woff2"), url("../fonts/roboto/bold/roboto-bold-webfont.woff") format("woff"), url("../fonts/roboto/bold/roboto-bold-webfont.ttf") format("truetype"), url("../fonts/roboto/bold/roboto-bold-webfont.svg#robotobold") format("svg");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/regular/roboto-regular-webfont.eot");
  src: url("../fonts/roboto/regular/roboto-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/regular/roboto-regular-webfont.woff2") format("woff2"), url("../fonts/roboto/regular/roboto-regular-webfont.woff") format("woff"), url("../fonts/roboto/regular/roboto-regular-webfont.ttf") format("truetype"), url("../fonts/roboto/regular/roboto-regular-webfont.svg#robotoregular") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "roboto";
  src: url("../fonts/roboto/thin/roboto-thin-webfont.eot");
  src: url("../fonts/roboto/thin/roboto-thin-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/thin/roboto-thin-webfont.woff2") format("woff2"), url("../fonts/roboto/thin/roboto-thin-webfont.woff") format("woff"), url("../fonts/roboto/thin/roboto-thin-webfont.ttf") format("truetype"), url("../fonts/roboto/thin/roboto-thin-webfont.svg#robotothin") format("svg");
  font-weight: 100;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  min-width: 480px;
}

a {
  text-decoration: none;
}

i {
  list-style: none;
}

li {
  list-style: none;
}

.section_inner {
  max-width: 1470px;
  padding: 0 30px;
  margin: 0 auto;
}

.clearfix::after {
  content: "";
  clear: both;
  display: block;
}

.header {
  background-image: url(../img/grid.png);
  background-color: #0e1a35;
  background-position: center 25%;
  height: 700px;
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 768px) {
  .header {
    height: 750px;
  }
}
@media screen and (min-width: 992px) {
  .header {
    height: 1100px;
    background-position: center 35%;
  }
}
.header .section_inner {
  position: relative;
}
.header .logo {
  display: inline-block;
  margin-top: 30px;
}
@media screen and (min-width: 992px) {
  .header .logo {
    margin-top: 65px;
    width: 230px;
  }
}
.header .logo img {
  width: 150px;
}
@media screen and (min-width: 992px) {
  .header .logo img {
    width: 230px;
  }
}

.burger_menu {
  position: absolute;
  color: #fff;
  font-size: 25px;
  border-radius: none;
  background: 0;
  border: 0;
  right: 35px;
  top: 35px;
}
@media screen and (min-width: 992px) {
  .burger_menu {
    display: none;
  }
}

.burger_close {
  position: absolute;
  right: 20px;
  top: 10px;
  color: #0e1a35;
  font-size: 50px;
  border-radius: none;
  background: none;
  border: 0;
  line-height: 1;
}
@media screen and (min-width: 992px) {
  .burger_close {
    display: none;
  }
}

.topnav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: left;
  padding-top: 80px;
  z-index: 100;
  display: none;
}
@media screen and (min-width: 992px) {
  .topnav {
    display: block;
    width: 60%;
    position: relative;
    padding-top: 0;
  }
}

@media screen and (min-width: 992px) {
  .header_top {
    display: flex;
    justify-content: space-between;
  }
}

.menu_topnav {
  display: block;
  background: #fff;
  margin-top: -80px;
}
@media screen and (min-width: 992px) {
  .menu_topnav {
    display: flex;
    list-style: none;
    margin-top: 90px;
    background: transparent;
    justify-content: flex-end;
  }
}
.menu_topnav a {
  color: #0e1a35;
  font: normal 22px "roboto";
}
@media screen and (min-width: 992px) {
  .menu_topnav a {
    color: #fff;
    font-size: 18px;
  }
}
.menu_topnav a:hover {
  text-decoration: underline;
}
.menu_topnav li {
  padding: 10px 20px;
  border-bottom: 1px solid #0e1a35;
}
.menu_topnav li:first-child {
  border-top: none;
}
@media screen and (min-width: 992px) {
  .menu_topnav li {
    padding: 0;
    margin-left: 40px;
  }
}
.menu_topnav .login {
  font: normal 22px "roboto";
  color: #5584ff;
}
@media screen and (min-width: 992px) {
  .menu_topnav .login {
    border-radius: 45px;
    border: 1px solid #233a72;
    padding: 17px 45px;
    color: #5584ff;
    font-size: 18px;
  }
  .menu_topnav .login:hover {
    text-decoration: none;
    color: #fff;
    border-color: #fff;
  }
}

.header_description {
  text-align: center;
  color: #fff;
}
.header_description h1 {
  margin-top: 80px;
  font: normal 100 40px "roboto";
}
@media screen and (min-width: 992px) {
  .header_description h1 {
    margin-top: 165px;
    font-size: 60px;
  }
}
.header_description p {
  font: normal 26px "roboto";
  opacity: 0.5;
  margin: 25px 0 60px;
}
@media screen and (min-width: 992px) {
  .header_description p {
    font-size: 36px;
    margin: 20px 0 80px;
  }
}
.header_description a {
  display: inline-block;
  background: #5584ff;
  color: #fff;
  font: bold 16px "roboto";
  padding: 10px 35px;
  border-radius: 45px;
}
@media screen and (min-width: 992px) {
  .header_description a {
    font-size: 18px;
    padding: 17px 55px;
  }
}
.header_description_pic img {
  width: 100%;
  max-width: 500px;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .header_description_pic img {
    width: 570px;
    margin-top: 60px;
    max-width: none;
  }
}
@media screen and (min-width: 992px) {
  .header_description_pic img {
    max-width: 890px;
    width: 85%;
    margin-top: 85px;
  }
}

.features {
  background: linear-gradient(#fff);
  padding-top: 100px;
}
@media screen and (min-width: 992px) {
  .features {
    padding-top: 180px;
  }
}

.features_list {
  text-align: center;
  margin-top: 60px;
}
@media screen and (min-width: 992px) {
  .features_list {
    display: flex;
    justify-content: center;
    margin-top: 90px;
  }
}

@media screen and (min-width: 992px) {
  .features_item {
    text-align: center;
    max-width: 470px;
    margin-right: 30px;
  }
}
.features_item .features_item:last-child {
  margin-right: 0;
}

.features_icon {
  display: inline-block;
  vertical-align: middle;
}
.features_icon img {
  height: 60px;
}
@media screen and (min-width: 992px) {
  .features_icon img {
    height: 80px;
  }
}

.features_item h2 {
  font: bold 20px "roboto";
  margin: 25px 0 20px;
}
@media screen and (min-width: 768px) {
  .features_item h2 {
    margin: 30px 0 20px;
  }
}
@media screen and (min-width: 992px) {
  .features_item h2 {
    font-size: 24px;
    margin: 55px 0 25px;
  }
}
.features_item p {
  padding: 0 50px;
  font: normal 16px "roboto";
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .features_item p {
    padding: 0 110px;
  }
}
@media screen and (min-width: 992px) {
  .features_item p {
    font-size: 18px;
    padding: 0 30px;
  }
}
.features_item a {
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #000;
  font: bold 16px "roboto";
  border-radius: 45px;
  padding: 10px 35px;
  display: inline-block;
  text-align: center;
  margin: 25px 0 45px;
}
@media screen and (min-width: 992px) {
  .features_item a {
    font-size: 18px;
    padding: 17px 55px;
    margin: 50px 0 100px;
  }
}

.browser {
  background: linear-gradient(to bottom, #fff, #f6f7fa);
}

.browser_wrapper {
  padding: 50px 0 300px;
  background-image: url(../img/tablets.png);
  background-size: 350px;
  background-repeat: no-repeat;
  background-position: right 0 bottom 50px;
}
@media screen and (min-width: 768px) {
  .browser_wrapper {
    padding-top: 70px;
    background-size: 48%;
    background-position: right 0 bottom 70px;
  }
}
@media screen and (min-width: 992px) {
  .browser_wrapper {
    padding: 100px 0 150px;
    background-position: right 0 top 120px;
  }
}
@media screen and (min-width: 1200px) {
  .browser_wrapper {
    padding: 170px 0;
    background-size: 52%;
  }
}

@media screen and (min-width: 992px) {
  .browser_list {
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .browser_list {
    width: 45%;
  }
}
.browser_list h2 {
  color: #000;
  text-align: center;
  font: normal 100 40px "roboto";
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .browser_list h2 {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 992px) {
  .browser_list h2 {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .browser_list h2 {
    font-size: 45px;
    margin-bottom: 45px;
  }
}
.browser_list p {
  font: normal 16px "roboto";
  color: #000;
  opacity: 0.5;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .items {
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .items {
    width: 100%;
  }
}
.items li {
  list-style: none;
  font: normal 18px "roboto";
  color: #5584ff;
  margin: 0 0 15px;
}
@media screen and (min-width: 992px) {
  .items li {
    margin: 0 0 20px;
  }
}
@media screen and (min-width: 1200px) {
  .items li {
    font-size: 20px;
  }
}
.items li:last-child {
  margin-bottom: 0;
}
.items li i {
  margin-right: 15px;
}

.drag_drop {
  background-color: #0e1a35;
  background-image: url(../img/Graph_drag_drop.png);
  background-repeat: no-repeat;
  background-position: center 5%;
  color: #fff;
  background-size: contain;
}
@media screen and (min-width: 992px) {
  .drag_drop {
    background-position: center 20%;
  }
}
@media screen and (min-width: 1200px) {
  .drag_drop {
    background-position: center 25%;
  }
}

.wrapper_drag_drop {
  background-image: url(../img/Grid_drag_drop.png);
  background-position: center 5%;
  background-size: contain;
}
@media screen and (min-width: 992px) {
  .wrapper_drag_drop {
    display: flex;
    flex-direction: row;
  }
}

.drag_drop_picture {
  text-align: center;
}
.drag_drop_picture img {
  margin-top: 50px;
  max-width: 400px;
}
@media screen and (min-width: 768px) {
  .drag_drop_picture img {
    margin-top: 100px;
    max-width: 650px;
  }
}
@media screen and (min-width: 992px) {
  .drag_drop_picture img {
    margin-top: 75px;
    max-width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .drag_drop_picture img {
    margin-top: 160px;
    max-width: 850px;
  }
}

.drag_drop_list {
  flex: 1;
}
@media screen and (min-width: 992px) {
  .drag_drop_list {
    margin-left: 100px;
  }
}
@media screen and (min-width: 1200px) {
  .drag_drop_list {
    margin-left: 170px;
  }
}
.drag_drop_list h2 {
  font: normal 100 40px "roboto";
  margin: 40px 0 30px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .drag_drop_list h2 {
    margin: 50px 0 35px;
  }
}
@media screen and (min-width: 992px) {
  .drag_drop_list h2 {
    font-size: 50px;
    margin: 100px 0 35px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .drag_drop_list h2 {
    font-size: 60px;
    margin: 215px 0 40px;
    text-align: left;
  }
}
.drag_drop_list p {
  font: normal 16px "roboto";
  opacity: 0.4;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .drag_drop_list p {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 992px) {
  .drag_drop_list p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .drag_drop_list p {
    font-size: 18px;
    margin-bottom: 35px;
  }
}
.drag_drop_list p:last-child {
  margin-bottom: 0;
}
.drag_drop_list img {
  margin: 0 10px 50px 0;
  width: 25px;
}
@media screen and (min-width: 768px) {
  .drag_drop_list img {
    margin: 0 15px 100px 0;
    width: 30px;
  }
}
@media screen and (min-width: 992px) {
  .drag_drop_list img {
    margin: 0 15px 100px 0;
    width: 35px;
  }
}
@media screen and (min-width: 1200px) {
  .drag_drop_list img {
    margin: 0 15px 200px 0;
  }
}
.drag_drop_list img:last-child {
  margin-right: 0;
}

.powerfull {
  background-color: #fff;
}

.powerfull_header h2 {
  margin: 50px 0 20px;
  font: normal 100 40px "roboto";
  text-align: center;
}
@media screen and (min-width: 768px) {
  .powerfull_header h2 {
    margin: 50px 0 30px;
  }
}
@media screen and (min-width: 992px) {
  .powerfull_header h2 {
    margin: 80px 0 45px;
    font-size: 60px;
  }
}
@media screen and (min-width: 1300px) {
  .powerfull_header h2 {
    margin: 100px 0 60px;
  }
}
.powerfull_header p {
  font: normal 14px "roboto";
  text-align: center;
  opacity: 0.5;
  margin-bottom: 40px;
  padding: 0 10px;
}
@media screen and (min-width: 992px) {
  .powerfull_header p {
    margin-bottom: 120px;
    padding: 0 50px;
    font-size: 18px;
  }
}
@media screen and (min-width: 1300px) {
  .powerfull_header p {
    margin-bottom: 150px;
    padding: 0 200px;
  }
}

.powerfull_list {
  position: relative;
}

.powerfull_item_left {
  margin-left: 5px;
  z-index: 80;
}
@media screen and (min-width: 768px) {
  .powerfull_item_left {
    margin: 60px 0 0 5px;
  }
}
@media screen and (min-width: 992px) {
  .powerfull_item_left {
    margin-left: 20px;
  }
}
@media screen and (min-width: 1300px) {
  .powerfull_item_left {
    margin-left: 45px;
  }
}
.powerfull_item_left h3 {
  position: relative;
  width: 55%;
  font: bold 15px "roboto";
  border-bottom: 1px solid #5584ff;
  z-index: 83;
}
@media screen and (min-width: 768px) {
  .powerfull_item_left h3 {
    width: 45%;
    font-size: 16px;
    padding: 5px 0;
  }
}
@media screen and (min-width: 992px) {
  .powerfull_item_left h3 {
    margin-bottom: 10px;
    font-size: 20px;
  }
}
@media screen and (min-width: 1300px) {
  .powerfull_item_left h3 {
    padding: 10px 0;
    margin-bottom: 40px;
    font-size: 24px;
  }
}
.powerfull_item_left h3::after {
  border-radius: 50%;
  display: block;
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background: #5584ff;
  right: -10px;
  bottom: -8px;
  border: 3px solid #95b2fd;
  z-index: 85;
}
@media screen and (min-width: 768px) {
  .powerfull_item_left h3::after {
    right: -5px;
  }
}
@media screen and (min-width: 992px) {
  .powerfull_item_left h3::after {
    height: 15px;
    width: 15px;
    right: -20px;
    bottom: -13px;
    border: 5px solid #95b2fd;
  }
}
@media screen and (min-width: 1300px) {
  .powerfull_item_left h3::after {
    height: 25px;
    width: 25px;
    right: -29px;
    bottom: -22px;
    border: 7px solid #95b2fd;
  }
}
.powerfull_item_left p {
  font: normal 12px "roboto";
  width: 45%;
  opacity: 0.5;
  padding-right: 70px;
  text-align: left;
}
@media screen and (min-width: 768px) {
  .powerfull_item_left p {
    font-size: 14px;
    width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .powerfull_item_left p {
    font-size: 16px;
    width: 30%;
  }
}
@media screen and (min-width: 1300px) {
  .powerfull_item_left p {
    font-size: 18px;
    width: 20%;
  }
}

.powerfull_picture {
  position: absolute;
  top: 15px;
}
@media screen and (min-width: 768px) {
  .powerfull_picture {
    top: -22px;
  }
}
@media screen and (min-width: 992px) {
  .powerfull_picture {
    top: -40px;
  }
}
@media screen and (min-width: 1300px) {
  .powerfull_picture {
    top: -70px;
  }
}
.powerfull_picture img {
  width: 80%;
  margin: 0 0 40px 50px;
}
@media screen and (min-width: 768px) {
  .powerfull_picture img {
    margin: 0 0 50px 50px;
  }
}
@media screen and (min-width: 992px) {
  .powerfull_picture img {
    margin: 0 0 55px 100px;
  }
}
@media screen and (min-width: 1300px) {
  .powerfull_picture img {
    margin: 0 0 60px 160px;
  }
}

.powerfull_item_right {
  margin: 7% 5px 0 0;
  text-align: right;
  width: 48%;
  float: right;
  z-index: 90;
}
@media screen and (min-width: 600px) {
  .powerfull_item_right {
    margin-top: 15%;
  }
}
@media screen and (min-width: 768px) {
  .powerfull_item_right {
    width: 51%;
    margin-top: 10%;
  }
}
@media screen and (min-width: 992px) {
  .powerfull_item_right {
    margin: 5% 20px 0 0;
    width: 43%;
  }
}
@media screen and (min-width: 1300px) {
  .powerfull_item_right {
    margin: 5% 45px 0 0;
    width: 42%;
  }
}
.powerfull_item_right h3 {
  position: relative;
  font: bold 15px "roboto";
  border-bottom: 1px solid #5584ff;
  z-index: 93;
}
@media screen and (min-width: 768px) {
  .powerfull_item_right h3 {
    padding: 5px 0;
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .powerfull_item_right h3 {
    font-size: 20px;
    padding: 5px 0;
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1300px) {
  .powerfull_item_right h3 {
    font-size: 24px;
    padding: 10px 0;
    margin-bottom: 40px;
  }
}
.powerfull_item_right h3::after {
  border-radius: 50%;
  display: block;
  content: "";
  position: absolute;
  height: 10px;
  width: 10px;
  background: #5584ff;
  bottom: -9px;
  left: 0;
  border: 3px solid #95b2fd;
  z-index: 95;
}
@media screen and (min-width: 992px) {
  .powerfull_item_right h3::after {
    height: 15px;
    width: 15px;
    bottom: -15px;
    left: -20px;
    border: 5px solid #95b2fd;
  }
}
@media screen and (min-width: 1300px) {
  .powerfull_item_right h3::after {
    height: 25px;
    width: 25px;
    bottom: -20px;
    left: -35px;
    border: 7px solid #95b2fd;
  }
}
.powerfull_item_right p {
  font: normal 12px "roboto";
  opacity: 0.5;
  display: inline-block;
  max-width: 150px;
}
@media screen and (min-width: 768px) {
  .powerfull_item_right p {
    font-size: 14px;
    max-width: 250px;
  }
}
@media screen and (min-width: 992px) {
  .powerfull_item_right p {
    font-size: 16px;
  }
}
@media screen and (min-width: 1300px) {
  .powerfull_item_right p {
    font-size: 18px;
    max-width: 280px;
  }
}

.pricing_header h2 {
  text-align: center;
  font: normal 100 40px "roboto";
  color: #000;
  margin: 50px 0 40px;
}
@media screen and (min-width: 768px) {
  .pricing_header h2 {
    margin: 90px 0 50px;
  }
}
@media screen and (min-width: 992px) {
  .pricing_header h2 {
    font-size: 60px;
    margin: 150px 0 80px;
  }
}
@media screen and (min-width: 1300px) {
  .pricing_header h2 {
    margin: 200px 0 90px;
  }
}

.pricing_list {
  text-align: center;
}
@media screen and (min-width: 992px) {
  .pricing_list {
    display: flex;
    justify-content: center;
  }
}
.pricing_list ul li {
  font: normal 16px "roboto";
  padding-bottom: 10px;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .pricing_list ul li {
    font-size: 18px;
  }
}
@media screen and (min-width: 992px) {
  .pricing_list ul li {
    font-size: 16px;
  }
}
@media screen and (min-width: 1300px) {
  .pricing_list ul li {
    font-size: 18px;
    padding-bottom: 15px;
  }
}
.pricing_list ul li:last-child {
  padding-bottom: 0;
}

.pricing_item {
  display: inline-block;
  width: 70%;
  text-align: center;
  margin-bottom: 30px;
  padding: 35px;
  box-shadow: 0 0 10px 10px rgba(122, 122, 122, 0.2);
}
@media screen and (min-width: 768px) {
  .pricing_item {
    padding: 45px;
    width: 50%;
  }
}
@media screen and (min-width: 992px) {
  .pricing_item {
    margin-left: 30px;
    padding: 45px 35px;
    width: 31%;
  }
}
@media screen and (min-width: 1300px) {
  .pricing_item {
    margin-left: 130px;
    padding: 50px 40px;
    width: 26%;
  }
}
.pricing_item:first-child {
  margin-left: 0;
}
.pricing_item h3 {
  font: normal 18px "roboto";
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .pricing_item h3 {
    font-size: 20px;
  }
}
@media screen and (min-width: 1300px) {
  .pricing_item h3 {
    font-size: 24px;
    margin-bottom: 30px;
  }
}
.pricing_item p {
  font: bold 36px "roboto";
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .pricing_item p {
    font-size: 45px;
  }
}
@media screen and (min-width: 1300px) {
  .pricing_item p {
    font-size: 65px;
    margin-bottom: 30px;
  }
}
.pricing_item i {
  color: #5584ff;
  margin-right: 10px;
}
@media screen and (min-width: 992px) {
  .pricing_item i {
    margin-right: 15px;
  }
}
@media screen and (min-width: 1300px) {
  .pricing_item i {
    margin-right: 17px;
  }
}
.pricing_item i.pricing_item_not_included {
  color: #ff0000;
}

.pricing_item_word {
  font: normal 16px "roboto";
  color: #000;
  opacity: 0.5;
}
@media screen and (min-width: 768px) {
  .pricing_item_word {
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .pricing_item_word {
    font-size: 24px;
  }
}

.pricing_item_symbol {
  font: bold 20px "roboto";
}
@media screen and (min-width: 768px) {
  .pricing_item_symbol {
    font-size: 24px;
  }
}
@media screen and (min-width: 992px) {
  .pricing_item_symbol {
    font-size: 30px;
  }
}
@media screen and (min-width: 1300px) {
  .pricing_item_symbol {
    font-size: 40px;
  }
}

.pricing_bottom_section {
  text-align: center;
}
.pricing_bottom_section p {
  font: normal 14px "roboto";
  color: #000;
  opacity: 0.5;
  margin: 0 20px 30px;
}
@media screen and (min-width: 768px) {
  .pricing_bottom_section p {
    font-size: 16px;
    margin: 50px 60px 50px;
  }
}
@media screen and (min-width: 992px) {
  .pricing_bottom_section p {
    font-size: 18px;
  }
}
@media screen and (min-width: 1300px) {
  .pricing_bottom_section p {
    margin: 100px 250px 70px;
  }
}
.pricing_bottom_section a {
  background: #5584ff;
  color: #fff;
  font: bold 16px "roboto";
  padding: 10px 35px;
  border-radius: 45px;
  margin-bottom: 50px;
  display: inline-block;
}
@media screen and (min-width: 992px) {
  .pricing_bottom_section a {
    font-size: 18px;
    padding: 17px 55px;
    margin-bottom: 70px;
  }
}
@media screen and (min-width: 1300px) {
  .pricing_bottom_section a {
    margin-bottom: 100px;
  }
}
/*# sourceMappingURL=style.css.map */